.gridsome-code-title {
  position: relative;
  margin-bottom: -0.8em;
  background-color: var(--code-title-bg-color);
  color: var(--code-title-color);
  font-size: 0.875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;
}
