/* purgecss start ignore */
:root {
  --code-bg: rgb(1, 22, 39);
  --code-title-bg-color: #d2c7ec;
  --code-title-color: #000;
  --code-line-bg: rgb(2, 55, 81);
  --code-line-border-color: rgb(2, 155, 206);
}

/* reset vuetify*/
code,
kbd,
pre,
samp {
  font-family: initial;
  /* Specify the font family of code elements */
}

.v-application code:after,
.v-application code:before,
.v-application kbd:after,
.v-application kbd:before {
  content: initial;
  letter-spacing: initial;
}

.v-application code {
  background-color: initial;
  -webkit-box-shadow: initial;
          box-shadow: initial;
}

.v-application kbd {
  background: initial;
}

.v-application code,
.v-application kbd {
  display: initial;
  border-radius: initial;
  white-space: initial;
  font-size: initial;
  font-weight: initial;
}

.v-application code {
  background-color: var(--code-bg);
}

.gridsome-highlight {
  /* Code blocks */
}

.gridsome-highlight code[class*='language-'],
.gridsome-highlight pre[class*='language-'] {
  color: #d6deeb;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.gridsome-highlight pre[class*='language-']::-moz-selection,
.gridsome-highlight pre[class*='language-'] ::-moz-selection,
.gridsome-highlight code[class*='language-']::-moz-selection,
.gridsome-highlight code[class*='language-'] ::-moz-selection {
  text-shadow: none;
  background: white;
}

.gridsome-highlight pre[class*='language-']::selection,
.gridsome-highlight pre[class*='language-'] ::selection,
.gridsome-highlight code[class*='language-']::selection,
.gridsome-highlight code[class*='language-'] ::selection {
  text-shadow: none;
  background: white;
}

@media print {
  .gridsome-highlight code[class*='language-'],
  .gridsome-highlight pre[class*='language-'] {
    text-shadow: none;
  }
}

.gridsome-highlight pre {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

.gridsome-highlight :not(pre) > code,
.gridsome-highlight pre {
  color: white;
  background: #011627;
}

.gridsome-highlight :not(pre) > code {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.gridsome-highlight .token.comment,
.gridsome-highlight .token.prolog,
.gridsome-highlight .token.cdata {
  color: #637777;
  font-style: italic;
}

.gridsome-highlight .token.punctuation {
  color: #c792ea;
}

.gridsome-highlight .namespace {
  color: #b2ccd6;
}

.gridsome-highlight .token.deleted {
  color: rgba(239, 83, 80, 0.56);
  font-style: italic;
}

.gridsome-highlight .token.symbol,
.gridsome-highlight .token.property {
  color: #80cbc4;
}

.gridsome-highlight .token.tag,
.gridsome-highlight .token.operator,
.gridsome-highlight .token.keyword {
  color: #7fdbca;
}

.gridsome-highlight .token.boolean {
  color: #ff5874;
}

.gridsome-highlight .token.number {
  color: #f78c6c;
}

.gridsome-highlight .token.constant,
.gridsome-highlight .token.function,
.gridsome-highlight .token.builtin,
.gridsome-highlight .token.char {
  color: #82aaff;
}

.gridsome-highlight .token.selector,
.gridsome-highlight .token.doctype {
  color: #c792ea;
  font-style: italic;
}

.gridsome-highlight .token.attr-name,
.gridsome-highlight .token.inserted {
  color: #addb67;
  font-style: italic;
}

.gridsome-highlight .token.string,
.gridsome-highlight .token.url,
.gridsome-highlight .token.entity,
.gridsome-highlight .language-css .token.string,
.gridsome-highlight .style .token.string {
  color: #addb67;
}

.gridsome-highlight .token.class-name,
.gridsome-highlight .token.atrule,
.gridsome-highlight .token.attr-value {
  color: #ffcb8b;
}

.gridsome-highlight .token.regex,
.gridsome-highlight .token.important,
.gridsome-highlight .token.variable {
  color: #d6deeb;
}

.gridsome-highlight .token.important,
.gridsome-highlight .token.bold {
  font-weight: bold;
}

.gridsome-highlight .token.italic {
  font-style: italic;
}

pre[class*="language-"].line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
  position: relative;
  white-space: inherit;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid #999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}

.command-line-prompt {
  border-right: 1px solid #999;
  display: block;
  float: left;
  font-size: 100%;
  letter-spacing: -1px;
  margin-right: 1em;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.command-line-prompt > span:before {
  color: #999;
  content: ' ';
  display: block;
  padding-right: 0.8em;
}

.command-line-prompt > span[data-user]:before {
  content: "[" attr(data-user) "@" attr(data-host) "] $";
}

.command-line-prompt > span[data-user="root"]:before {
  content: "[" attr(data-user) "@" attr(data-host) "] #";
}

.command-line-prompt > span[data-prompt]:before {
  content: attr(data-prompt);
}

.gridsome-code-title {
  position: relative;
  margin-bottom: -0.8em;
  background-color: var(--code-title-bg-color);
  color: var(--code-title-color);
  font-size: 0.875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.gridsome-highlight-code-line {
  background-color: var(--code-line-bg);
  display: block;
  margin-right: -1em;
  margin-left: -1em;
  padding-right: 1em;
  padding-left: 0.75em;
  border-left: 0.25em solid var(--code-line-border-color);
}

.gridsome-highlight {
  background-color: var(--code-bg);
  position: relative;
  margin: 0.5em 0;
  padding: 1em;
  overflow: auto;
}

.gridsome-highlight pre[class*="language-"] {
  background-color: transparent;
  margin: 0;
  padding: 0;
  padding-top: 0;
  padding-bottom: 0;
  overflow: initial;
  float: left;
  /* 1 */
  min-width: 100%;
  /* 2 */
}

.gridsome-highlight pre[class*="language-"].line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

/* purgecss end ignore */
/*# sourceMappingURL=night-owl.css.map */