/* purgecss start ignore */

:root {
  --code-bg: rgb(1, 22, 39);
  --code-title-bg-color: #d2c7ec;
  --code-title-color: #000;
  --code-line-bg: rgb(2, 55, 81);
  --code-line-border-color: rgb(2, 155, 206);
}

@import "prism-night-owl";

@import "prism-line-numbers";
@import "prism-command-line";

@import "./code-title";
@import "./code_line";

@import "./code_highlight";

//@import "./language-name";

/* purgecss end ignore */
