@import "prism-tomorrow";
@import 'prism-line-numbers';
@import 'prism-command-line';


.gridsome-code-title {
  position: relative;
  z-index: 100;
  margin-bottom: -0.8em;
  background: #5b575b;
  color: #cbc4cc; // why not ;-)
  font-style: italic;
  font-weight: 100;
  text-align: right;
  font-family: PT Mono, Consolas, Monaco, "Andale Mono", "Ubuntu Mono",
    monospace;
  line-height: 1.5;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  span {
    padding: 0.5em;
  }
}

.gridsome-highlight {
  background-color: #2d2d2d;
  border-radius: 0.3em;
  margin: 0.5em 0;
  padding: 1em;
  overflow: auto;
}

.gridsome-highlight pre[class*="language-"] {
  background-color: transparent;
  margin: 0;
  padding: 0;
  padding-top: 0;
  padding-bottom: 0;
  overflow: initial;
  float: left; /* 1 */
  min-width: 100%; /* 2 */
}

.gridsome-highlight pre[class*="language-"].line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

code {
  background-color: #2d2d2d;
}

.gridsome-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
  display: block;
  margin-right: -1em;
  margin-left: -1em;
  padding-right: 1em;
  padding-left: 0.75em;
  border-left: 0.25em solid #f99;
}
