/* purgecss start ignore */

:root {
  --code-bg: #2d2d2d;
  --code-title-bg-color: #5b575b;
  --code-title-color: #cbc4cc;
  --code-line-bg: rgba(0, 0, 0, 0.3);
  --code-line-border-color: #f99;
}

@import "prism-tomorrow";
@import "prism-line-numbers";
@import "prism-command-line";

code {
  background-color: #2d2d2d;
}

@import "./code-title";
.gridsome-code-title {
  font-style: italic;
  font-weight: 100;
  text-align: right;
  font-family: PT Mono, Consolas, Monaco, "Andale Mono", "Ubuntu Mono",
    monospace;
  line-height: 1.5;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  span {
    padding: 0.5em;
  }
}
@import "./code_line";
@import "./code_highlight";
//@import "./language-name";

/* purgecss end ignore */
